<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function myFunction() {
            var x = document.getElementById("mobile-navbar");
            if (x.className === "responsive-navbar") {
                x.className = "";
            } else {
                x.className += "responsive-navbar";
            }
        }
    </script>
    <title>GASM</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <a class="logo-container" href="#">
                <img id="logo" src="/assets/images/navbar_logo.png" alt="logo">
            </a>
            <ul id="navbar-buttons">
                <li><a href="#">Report event</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Campaigns</a></li>
                <li><a href="/templates/profile.html">Profile</a></li>
            </ul>
            <a href="javascript:void(0);" id="cheese-burger" onclick="myFunction()">
                <span>
                    <div></div>
                    <div></div>
                    <div></div>
                </span>
            </a>
        </nav>
        <nav id="mobile-navbar">
            <ul id="mobile-navbar-buttons">
                <li><a href="#">Report event</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Campaigns</a></li>
                <li><a href="/templates/profile.html">Profile</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="profile_container">
            <div id="profile_container__picture_container">
                <img src="/assets/images/profile_photo.jpg" alt="profile_container__profile_picture" id="profile_container__profile_picture">
                <div class="image_opacer">
                    <a href="/templates/edit_profile.html">Edit profile</a>
                </div>
            </div>

            <ul id="profile_container__menu">

                <li><button class="button">My reports </button></li>
                <li><button class="button"> Events </button></li>
            </ul>

            <ul id="profile_container__feed">

                <li class="profile_container__feed__item_container">
                    Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
                <li>
                    Lorem ipsum Lorem ipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaaipsumdsadsaaaaaaaaaaaaaaaaaaaaaa
                </li>
            </ul>

        </div>
    </main>

    <footer>
        <div id="top-footer">
            <div id="footer-info">
                <p id="footer-title">GaSM<br>Garbage Smart Monitor</p>
                <span>Contact us</span>
                <p id="footer-contact">
                    <i class="fa fa-envelope-o"></i> info@gasm.com<br>
                    <i class="fa fa-phone"></i> +40000000000
                </p>
            </div>

            <div id="footer-helpful">
                <span>Helpful links</span>
                <ul>
                    <li>
                        <a href="#">Why to recycle</a>
                    </li>

                    <li>
                        <a href="#">How to recycle</a>
                    </li>

                    <li>
                        <a href="#">Recycle impact</a>
                    </li>
                </ul>
            </div>

            <div id="footer-vision">
                <span>Our vison</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in arcu augue. Nulla enim mauris, aliquet ut lorem aliquet, vestibulum elementum est.
                </p>
            </div>

        </div>

        <div id="low-footer">
            <div id="footer-social">
                <span>Social</span>
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-official" style="font-size:1.25em; color: #e6efec;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter-square" style="font-size:1.25em; color: #e6efec;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram" style="font-size:1.25em; color: #e6efec;"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <p id="footer-copyright">©GaSM 2020</p>

            <a class="footer-logo-container" href="#">
                <img id="footer-logo" src="/assets/images/logo_footer.png" alt="logo">
            </a>
        </div>
    </footer>
</body>

</html>